In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('/Users/chengfei/Desktop/CRP 5850 小老师Special Topics -- Introduction to Urban Data Science/0-Lectures/Week 8/Housing.csv')

In [3]:
dataset.head()

,ID,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850.0,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000.0,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,NaN,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650.0,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360.0,2,1,1,yes,no,no,no,no,0,no

In [4]:
x = dataset['lotsize'].values